<footer class="footer bg-light">
    <div class="container text-center mx-auto d-sm-flex d-block flex-sm-nowrap">
        <span class="text-muted mx-auto">Created by Brandon Keyes</span>
    </div>
</footer>